@page "/"

<PageTitle>Home</PageTitle>

<section id="cajaPadre">
  <section id="cajaContenido">
    <div id="cajaLogo">
      <RadzenImage id="logoindex" Path="img/LogoGris.png" />
    </div>
    <div id="cajaInformacion">
      <p id="tituloInfo">Información</p>
      <ul id="Info">
        @* <li>
          Pestaña 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ipsam obcaecati natus beatae vitae ad ullam, tenetur deserunt, quod
          laudantium vero sit delectus optio necessitatibus accusamus laboriosam
          aspernatur. Possimus, placeat incidunt!
        </li>
        <li>
          Pestaña 2: Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Debitis sapiente quasi, labore omnis repellat reprehenderit
          perspiciatis unde deserunt saepe minima modi tempore molestias.
          Repellendus aut dolores iure quo nobis dicta?
        </li> *@
      </ul>
    </div>
  </section>
  <section id="cajaImg">
    <RadzenImage Path="img/Neo.png"/>
  </section>
</section>