@page "/"

<PageTitle>Home</PageTitle>

<section id="cajaPadre">
  <section id="cajaContenido">
    <div id="cajaLogo">
      <RadzenImage id="logoindex" Path="img/LogoGris.png" />
    </div>
    <div id="cajaInformacion">
      <p id="tituloInfo">Información</p>
      <ul id="Info">
<li>
    <strong>Neo Inspecciones</strong> es una plataforma diseñada para optimizar el mantenimiento de montacargas.  
    Permite registrar fácilmente el estado de cada equipo, reportar observaciones y asegurar su correcto funcionamiento.  
    Con este sistema, se puede ver si esta en óptimas condiciones o requiere atención,  
    ayudando a prevenir fallos y mejorando la seguridad operativa de la empresa.
</li>

      </ul>
    </div>
  </section>
  <section id="cajaImg">
    <RadzenImage Path="img/Neo.png"/>
  </section>
</section>