@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Inspecciones</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h5  class="cabeza">
                <div class="opciones">
                    <RadzenButton  Text="Imprimir" id="imprimir" name="imprimir" Click=@Imprimir/>
                </div>
            </h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <RadzenNotification/>
    <RadzenDialog />
</div>

@code{
    protected async Task Imprimir(){
        @* NavigationManager.NavigateTo($"impresion"); *@
        JS.InvokeVoidAsync("imprimirElemento");
    }
}
