@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Inspecciones</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h5  class="cabeza">
                <div class="opciones">
                    <a href="http://neo.paveca.com.ve/Formatos/formatos.html" target="_blank" rel="noopener noreferrer" id="imprimir" name="imprimir">Impresiones</a>
                </div>
            </h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <RadzenNotification/>
    <RadzenDialog />
</div>

