@inherits LayoutComponentBase

<PageTitle>Inspecciones</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h5  class="cabeza">
                <div class="opciones">
                    <input type="button" id="1" class="link" value="Roll Clamp (Eléctrico)">
                    <input type="button" id="2" class="link" value="Horquilla (Eléctrico)">
                    <input type="button" id="3" class="link" value="Horquilla (Uña)">
                    <input type="button" id="4" class="link" value="Roll Clamp">
                    <input type="button" id="5" class="link" value="Payloader">
                    <input type="button" id="6" class="link" value="Jaiba">
                    <div id="zoom_controls">  
                        <button id="zoom_in">+</button>
                        <button id="zoom_out">-</button>
                    </div>
                    <input type="button" id="imprimir" name="imprimir" value="Imprimir" onclick="imprSelec()"> 
                </div>
            </h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
