<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Inspecciones</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/2">
                Montacargas tipo Roll Clamp (Eléctrico)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/3">
                Montacargas tipo horquilla (Eléctrico)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/4">
                Montacargas tipo horquilla (Uña)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/5">
                Montacargas tipo Roll Clamp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/6">
                Maquinaria Pesada (PAYLOADER)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/7">
                Maquinaria Pesada (Jaiba)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inspeccion/8">
                Retroexcavadora
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
